@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Define variable colors and transitions in project*/

:root {
    --primary-color: #c765c2;
    --panel-color: #f8f8f8;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #E6E5E5;
    --toggle-color: #DDD;
    --title-icon-color: #FFF;
    --card1-color: #4DA3FF;
    --card2-color: #FFE6AC;
    --card3-color: #E7D1FC;

    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

nav{
    background-color: var(--panel-color);
}
